---
layout: page
tagline:
---

{% for post in paginator.posts %}

<article class="home">
  <span class="post-date">
    {% assign d = post.date | date: "%d" | plus:'0' %}
    {{ post.date | date: "%B" }}
    {% case d %}
    {% when 1 or 21 or 31 %}{{ d }}st,
    {% when 2 or 22 %}{{ d }}nd,
    {% when 3 or 23 %}{{ d }}rd,
    {% else %}{{ d }}th,
    {% endcase %}
    {{ post.date | date: "%Y" }}
  </span>
  <h2>
    <a href="{{ site.base_url }}{{ post.url }}">{{ post.title }}</a>
  </h2>
  <div>
    {% if post.fullview %}
    {{ post.content }}
    {% else %}
    {% if post.shortinfo %}
    {{ post.shortinfo }}
    {% elsif post.description %}
    {{ post.description }}
    {% else %}
    {{ post.excerpt }}
    {% endif %}
    {% endif %}
  </div>
</article>
{% endfor %}
<hr />
<div class="text-center">
  <div class="btn-group" role="group" aria-label="Basic example">
    {% if paginator.previous_page %}
    <button type="button" class="btn btn-primary">
      {% if paginator.previous_page == 1 %}
      <a href="{{ site.base_url }}/">&larr; Newer</a>
      {% else %}
      <a href="{{ site.base_url }}/{{ site.paginate_path | replace: ':num', paginator.previous_page }}">&larr;
        Newer</a>
      {% endif %}
    </button>
    {% else %}
    <button type="button" class="btn btn-primary disabled">
      <a>&larr; Newer</a>
    </button>
    {% endif %}
    <button type="button" class="btn btn-primary disabled">
      <span class="page_number">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    </button>
    {% if paginator.next_page %}
    <button type="button" class="btn btn-primary">
      <a href="{{ site.base_url }}/{{ site.paginate_path | replace: ':num', paginator.next_page }}">Older &rarr;</a>
    </button>
    {% else %}
    <button type="button" class="btn btn-primary disabled">
      <a>Older &rarr;</a>
    </button>
    {% endif %}
  </div>
</div>