<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	{% if page.description %}
	<meta name="description" content="{{ page.description }}">
	{% endif %}
	<meta name="author" content="{{ site.author.name }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="{{ site.base_url }}/assets/ico/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" integrity="sha512-P5MgMn1jBN01asBgU0z60Qk4QxiXo86+wlFahKrsQf37c9cro517WzVSPPV1tDKzhku2iJ2FVgL67wG03SGnNA==" crossorigin="anonymous" />
	<link rel="stylesheet" href="{{site.production_base_url}}/assets/resources/font-awesome/css/font-awesome.min.css" />
	<link rel="stylesheet" href="{{site.base_url}}/assets/resources/syntax/syntax.css" />
	<link rel="stylesheet" href="{{site.base_url}}/assets/css/style.css" />
	<link rel="alternate" type="application/rss+xml" title="{{site.name}}" href="{{site.base_url}}/feed.xml" />
	{% seo %}
</head>
<body>
	<header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-body border-bottom">
		<p class="h5 my-0 me-md-auto fw-normal">
			<a href="{{site.base_url}}/">mrvautin</a>
		</p>
	</header>
	<main class="container-fluid">
		<div class="row">		
			<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light collapse">	  
				{% include sidebar.html %}
			</nav>
			<main class="col-md-9 ms-sm-auto col-lg-10 mt-4 mb-5 px-md-4">
				{{ content }}
			</main>
		</div>
	</main>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js" integrity="sha512-wV7Yj1alIZDqZFCUQJy85VN+qvEIly93fIQAN7iqDFCPEucLCeNFz4r35FCo9s6WrpdDQPi80xbljXB8Bjtvcg==" crossorigin="anonymous"></script>
	<script src="{{site.base_url}}/assets/js/app.js"></script>
</body>
</html>
